<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
  <h5 class="my-0 mr-md-auto font-weight-normal">Easy Shopping</h5>
  <nav class="my-2 my-md-0 mr-md-3">
    <a *ngIf="role != 'Admin' && role != 'Retailer'" class="p-2 text-dark" routerLink="home">Home &nbsp;|</a> 
    <a *ngIf="role == 'Retailer'" class="p-2 text-dark" routerLink="retailerdashboard">Home &nbsp;|</a>
    <a *ngIf="loginsession && role == 'User'" class="p-2 text-dark" routerLink="myorders">My Orders &nbsp;|</a> 
    <a *ngIf="role == 'Admin'" class="p-2 text-dark" routerLink="admin">Admin &nbsp;|</a>
    <a *ngIf="loginsession && role =='User'" routerLink="cart" class="p-2 text-dark">Cart  &nbsp;|</a>
    <a *ngIf="loginsession && role =='User'" routerLink="wishlist" class="p-2 text-dark">WishList  &nbsp;|</a>
    <a *ngIf="!loginsession" class="p-2 text-dark btn btn-outline-primary" routerLink="login">Login/Sign Up</a>
    <b *ngIf="loginsession" class="p-2 text-dark">Welcome {{userName}}</b>
    <a *ngIf="loginsession" class="p-2 text-dark btn btn-outline-primary" (click)="logOff()">LogOut</a>
  </nav>
</div>