<div class="row">
  <div class="col">
    <div class="card filters">
      <div class="card-header">
        <strong>Filters</strong></div>
      <div class="card-body">
        <div class="form-group">
          <label for="from">Min Price</label>
          <input type="number" id="from" [(ngModel)]="filterView.MinPrice" class="form-control">
        </div>
        <div class="form-group">
          <label for="to">Max Price</label>
          <input type="number" id="to" [(ngModel)]="filterView.MaxPrice" class="form-control">
        </div>
        <button class="btn-btn-primary btn-block" (click)="GetUserProducts(filterView);">Filter By Price</button>
      </div>
    </div>
  </div>

  <div class="col-md-8">
    <div class="row">
      <div class="col-md-5">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search By Name/Description"
            [(ngModel)]="filterView.Search" />
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <select [(ngModel)]='filterView.SortBy' style="height: 36px;">
            <option value="">Sort By</option>
            <option value="asc">Product Name Ascending</option>
            <option value="desc">Product Name Descending</option>
          </select>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <button type="button" class="btn btn-sm btn-outline-secondary" style="height: 36px;"
            (click)="GetUserProducts(filterView);">Filter</button>
          <button type="button" class="btn btn-sm btn-outline-secondary" style="height: 36px; margin-left: 10px;"
            (click)="ClearFilter();">Clear Filter</button>
        </div>
      </div>
    </div>
    <a *ngIf="loginsession" class="p-2 text-dark btn btn-outline-primary" href="compare" style="margin-bottom: 15px;">Go to Compare
      Products</a>
    <div class="row">
      <div class="col-md-4" *ngFor="let productItem of products">
        <div class="card mb-4 shadow-sm">
          <p class="card-text" style="text-align: center;color: red;">
            <strong>{{productItem.ProductName}}</strong>
          </p>
          <img class="bd-placeholder-img card-img-top" width="100%" src="{{imagePath}}{{productItem.Image}}" />
          <div class="card-body">
            <p class="card-text">
              <strong>{{productItem.ProductPrice | currency:'INR':'symbol-narrow'}}</strong>
            </p>
            <p class="card-text">{{productItem.ProductDescription}}</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a href='viewdetail/{{productItem.ProductID}}' type="button"
                  class="btn btn-sm btn-primary product-btn">View
                  Details</a>
                <button type="button" style="margin-left: 10px;" class="btn btn-sm btn-outline-secondary product-btn "
                  (click)="addtoCompare(productItem.ProductID)"
                  id=compareBtn_{{productItem.ProductID}}>{{compareBtn}}</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>