<hr>
<h3>Product Management</h3>
<hr>
<table>
  <tr>
    <th style="width: 50px;">Sr No.</th>
    <th style="width: 100px;">Image</th>
    <th style="width: 100px;">Product Code</th>
    <th style="width: 100px;">Product Name</th>
    <th style="width: 150px;">Product Description</th>
    <th style="width: 100px;">Product Price</th>
    <th style="width: 100px;">Brand</th>
    <th style="width: 100px;">Quantity</th>
    <th style="width: 100px;">Instock</th>
    <th style="width: 200px;">Actions</th>
  </tr>

  <tr *ngFor="let p of products; let i=index">
    <td style="width: 50px;">{{i + 1}}</td>
    <td style="width: 100px;"><img style="width: 40px; height: 40px;" src="{{imagePath}}{{p.Image}}" alt=""></td>
    <td style="width: 100px;">{{p.ProductCode}}</td>
    <td style="width: 100px;">{{p.ProductName}}</td>
    <td style="width: 150px;">{{p.ProductDescription}}</td>
    <td style="width: 100px;">{{p.ProductPrice}}</td>
    <td style="width: 100px;">{{p.Brand}}</td>
    <td style="width: 100px;">{{p.Quantity}}</td>
    <td style="width: 100px;">{{p.InStock ? 'Yes' : 'No'}}</td>
    <td style="width: 300px;"><button (click)="GetProductById(p.ProductID)">Edit</button> |
      <!-- <button>Approve</button> | -->
      <button class="btn btn-danger" (click)="openDeletePopup(contentdelete, p.ProductID);">Delete</button>
    
    </td>
  </tr>
</table>

<!-- Delete Popup Start -->
<ng-template #contentdelete let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Delete Confirmation</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <p>Are you Sure you want to Delete?</p>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="DeleteProduct()">Ok</button>
  </div>
</ng-template>
<!-- Delete Popup End -->

<!-- Image Popup Start -->
<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Add Product Images</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <label><b>Upload Image</b></label>&nbsp;
      <input type="file" name="image" #Image accept="image/*" (change)="handleFileInput($event.target.files)">
    </div>

    <table>
      <tr>
        <th style="width: 100px;">Image Name</th>
        <th style="width: 100px;">Image</th>
        <th style="width: 100px;">IsDefault</th>
      </tr>

      <tr *ngFor="let p of productImages;let i=index">
        <td style="width: 100px;">{{p.ProductImage}}</td>
        <td style="width: 100px;"><img [src]="imageUrl" style="width: 130px; height: 130px;"></td>
        <td style="width: 100px;"><input type="checkbox" /></td>
      </tr>
    </table>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="SaveImages()">Save</button>
  </div>
</ng-template>
<!-- Image Popup End -->